#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px
    ;
    
    border: 1px solid red;
    width: 100%;
}
#container div{
    
    
    border: 1px solid green;
    border-radius: 10px;
}
select{
    width: 150px;
    height: 30px;
}
p{
    margin-left: 20px;
}
#country{
    color: red;
}
@media all and (max-width:750px) {

    #container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    
}
@media all and (max-width:370px)  {
    #container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    
}